<p>
  <strong>Image:</strong>
  <% if @admin_media_image.image.present? %>
    <%= image_tag(@admin_media_image.image.url, height: 200) %>
  <% end %>
</p>
<p>
  <strong>Caption:</strong>
  <%= @admin_media_image.caption %>
</p>

<%= link_to 'Edit', edit_admin_media_image_path(@admin_media_image) %> |
<%= link_to 'Back', admin_media_images_path %>
