<div class="card mb-4">
  <div class="card-body py-5">
    <div class="d-flex flex-column justify-content-center">
      <%= render 'shared/null_icon' %>
      <div class="text-center px-0 px-lg-5">
        <h4 class="mb-1">Welcome to ChurchFlow!</h4>
        <small class="d-block mb-3">The all-in-one church managment platform.</small>
        <p class="mb-4">Our new live streaming platform is now online. You can start creating your first live stream now! Click the button below to get started.</p>
        <%= link_to  "Get Started", new_admin_live_stream_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>
