<%= render partial: 'shared/page_header', locals: { 
  title: 'Welcome Back!', 
  subtitle: 'Simple online church management tool', 
  icon: ''  } 
%>
<div class="container">  
  <div class="row">
    <%= render partial: 'shared/dashboard/action_card.html.erb', locals: { 
      title: 'Sample Card', 
      subtitle: 'Subtitle for the sample card', 
      icon: '',
      image: 'assets/img/freepik/browser-stats-pana.svg',
      link: '/sermons'  } 
    %> 
  </div>
</div>
