<div class="container-fluid">  
  <%= render partial: "shared/dashboard_header", locals: { 
    title: "Welcome Back, #{current_user.fname}!",
    icon: "fa-user-circle"  } 
  %>
  <div class="row">
    <%= render partial: "shared/dashboard/live_feed" %> 
    <%# render partial: "shared/dashboard/events_list_card" %>
  </div>
</div>
