<%= render partial: "shared/header", locals: { 
  title: "Dashboard",
  icon: "fa-home"  } 
%>

<div class="container-fluid mt-n20">
  <div class="card p-4 mb-5">
    <div class="card-body">
      <div class="col-xxl-4 col-xl-12">
        <div class="row align-items-center">
            <div class="col-xl-6 col-xxl-12">
                <div class="text-center px-4 mb-4 mb-xl-0 mb-xxl-4">
                    <h1 class="text-primary">Welcome Back, <%= current_user.fname %>!</h1>
                    <p class="text-gray-700 mb-0">Stay tuned, more features are on the way! Do you have an idea for a new feature? <a href="">click here</a> to submit your idea.</p>
                </div>
            </div>
            <div class="col-xl-6 col-xxl-12 text-center"><img class="img-fluid" src="assets/img/freepik/at-work-pana.svg" style="max-width: 26rem;"></div>
        </div>
      </div>
    </div>
  </div>
</div>
