<div class="container-fluid">  
  <%= render partial: "shared/dashboard_header", locals: { 
    title: "Welcome Back, #{current_user.fname}!",
    icon: "fa-user-circle"  } 
  %>
  <div class="row">
    <div class="col">
      <div class="text-center">
        <div class="card-body">
          <img class="img-fluid my-4" src="assets/img/freepik/construction.svg" alt="" style="height: 10rem;">
          <h4 class="card-title mb-1">Welcome Back</h4>
          <p class="card-text">Dashboard is under construction.</p>
        </div>
      </div>
    </div>
    <%# render partial: "shared/dashboard/live_feed" %> 
    <%# render partial: "shared/dashboard/events_list_card" %>
  </div>
</div>
