<p>
  <% if @article.image.attached? %>
    <%= image_tag(url_for(@article.image.variant(resize: 100))) %>
  <% end %>
</p>
<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @article.body %>
</p>

<%= link_to 'Back', public_news_path %>
