<% if @admin_live_stream.present? %>
  <% if @admin_live_stream.status == 'active' %>
    <video id="video" width="100%" controls></video>
    <script>
        poster = "https://image.mux.com/<%= @admin_live_stream.playback_id %>/thumbnail.jpg";
        videoSrc = 'https://stream.mux.com/<%= @admin_live_stream.playback_id %>.m3u8';
        let playerInstance = jwplayer('video');
        playerInstance.setup({
            file: videoSrc,
            image: poster,
            height: 315,
            width: 560,
            controls: true
        })
    </script>
  <% else %>
    <h3 id="no-live-stream">Stream is offline.</h3>
  <% end %>
<% else %>
  <h3>Wrong embed code</h3>
<% end %>
