<div class="col-md-6 col-lg-4 mb-4">  
  <div class="card card-header-actions">
      <div class="card-header text-dark">
          Sermon Title
          <div class="dropdown no-caret">
            <button class="btn btn-transparent-dark btn-icon dropdown-toggle" id="dropdownMenuButton" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i data-feather="more-vertical"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right animated--fade-in-up">
              <a class="dropdown-item" href="javascript:void(0);">
                <div class="dropdown-item-icon">
                  <i data-feather="edit"></i>
                </div>
                Edit
              </a>
              <a class="dropdown-item" href="javascript:void(0);">
                <div class="dropdown-item-icon">
                  <i data-feather="copy"></i>
                </div>
                Copy Url
              </a>
              <a class="dropdown-item" href="javascript:void(0);">
                <div class="dropdown-item-icon">
                  <i data-feather="download"></i>
                </div>
                Download
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="javascript:void(0);">
                <div class="dropdown-item-icon">
                  <i data-feather="trash-2"></i>
                </div>
                Delete
              </a>
            </div>
          </div>
      </div>
      <img src="http://fpoimg.com/1280x720?text=Video Placeholder" width="100%" />
      <div class="card-footer d-flex align-items-center justify-content-between">
        <div class="custom-control custom-switch">
          <input type="checkbox" class="custom-control-input" id="customSwitch1">
          <label class="custom-control-label" for="customSwitch1">Published</label>
        </div>
        <small class="m-0 text-muted">Upload Date: 11/11/2020</small>
      </div>
  </div>
</div>
