<div class="container-fluid">  
  <%= render partial: 'shared/simple_page_header', locals: { 
    title: 'Media Library',
    btn_text: 'Upload Video',
    link: new_admin_media_sermon_path,
    icon: 'fa-photo-video' } %>
  <div class="row">
    <div class="col-12">
      <% if @admin_media_sermons.length > 0 %>
        <% @admin_media_sermons.in_groups_of(3).each do |group| %>
          <div class="row">
            <% group.each do |admin_media_sermon| %>
              <% if admin_media_sermon.present? %>
                <%= render 'sermon', sermon: admin_media_sermon %>
              <% end %>
            <% end %>
          </div>
        <% end %>
      <% else %>
        <div class="alert alert-info" role="alert">
          You don't have any sermons yet. Click <span class="alert-link">New Sermon</span> or start a live stream to add your first one. 
        </div>
      <% end %>
    </div>
  </div>
</div>

<!-- Disables Hls Player
<script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
<script>
    document.addEventListener('turbolinks:load', function() {
        let videos = document.getElementsByClassName('video');
        length = videos.length
        for (let i = 0; i < length; i++) {
            let videoSrc = videos[i].src;
            if (Hls.isSupported() && videoSrc.indexOf('.m3u8') !== -1) {
                const hls = new Hls();
                hls.loadSource(videoSrc);
                hls.attachMedia(videos[i]);
            } else if (videos[i].canPlayType('application/vnd.apple.mpegurl')) {
                videos[i].src = videoSrc;
            }
        }
    });
</script>
-->

