// Spacing
$spacing-xs: 0.5rem;
$spacing-sm: 1rem;
$spacing-md: 1.5rem;
$spacing-lg: 2rem;
$spacing-xl: 4rem;

// Appearance
$border-radius: 8px;
$border-radius-sm: 4px;

// Colors
$border-color: #dfe0e1;
