<header class="page-header page-header-dark bg-gradient-primary-to-secondary my-4 rounded">
  <div class="container">
    <div class="page-header-content pt-4">
      <div class="row align-items-center justify-content-between">
        <div class="col-auto mt-4">
          <h1 class="page-header-title mb-2">
            <% if local_assigns[:icon] != ''  %>
              <div class="page-header-icon">
                <i class="fas <%= icon %> nav-icon"></i>
              </div>
            <% end %>
            <%= title %>
          </h1>
          <% if local_assigns[:subtitle]  %>
          <div class="page-header-subtitle"><%= subtitle %></div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</header>
