<div class="page-heading">
  <div class="row no-gutters">
    <div class="col-12 d-flex justify-content-between align-items-center">
      <h3 class="page-heading-title text-capitalize">
        <%= page_title %>
      </h3>
      <% if local_assigns[:link_path]  %>
        <%= link_to "#{link_title}", "#{link_path}", class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>
