<div class="topnav navbar navbar-expand shadow navbar-light bg-indigo d-md-none">
  <div class="card-header d-flex rounded-0  justify-content-center align-items-center">
      <a href="/" class="h3 text-center text-white text-decoration-none m-0 logo">ChurchFlow</a><span class="badge badge-pill badge-info ml-1">beta</span>
  </div>
  <button type="button" class="btn btn-primary bg-white text-body ml-auto collapsed" data-toggle="collapse" data-target="#sidenav-outer" aria-expanded="false"><i class="fas fa-bars"></i></button>
</div>
<header class="page-header header-bg pb-20">
  <div class="container">
   <div class="page-header-content pt-4 pb-3">
      <div class="row align-items-center justify-content-between">
        <div class="col-auto">
          <h1 class="h2 page-header-title text-white">
            <div class="page-header-icon">
              <i class="fas fa-xs <%= icon %> fa-lg mr-1"></i>
            </div>
            <%= title %>
          </h1>
        </div>
        <div class="col-auto">
          <a class="btn upload-video" href="<%= link %>" role="button">
            <%= btn_text %>
            <i class="fas fa-upload ml-2"></i> 
          </a>
        </div>
      </div>
    </div>
  </div>
</header>


