<div class="page-header-content py-4 bg-dark my-4 rounded">
  <div class="container"> 
    <div class="row align-items-center justify-content-between">
        <div class="col-auto">
          <div class="d-flex align-items-center">
            <i class="fas <%= icon %> fa-lg mr-3"></i>
            <h1 class="m-0 page-header-title d-flex align-items-center text-light">
                <%= title %>
            </h1>
          </div>
        </div>
        <div class="col-auto">
          <a class="btn btn-outline-white" href="<%= link %>" role="button"><%= btn_text %></a>
        </div>
    </div>
  </div>
</div>
