<video id="video" width="100%" controls style="border-radius:4px;"></video>
<% if @admin_live_stream.status == 'active' %>
  <script>
      poster = "https://image.mux.com/<%= @admin_live_stream.playback_id %>/thumbnail.jpg";
      videoSrc = 'https://stream.mux.com/<%= @admin_live_stream.playback_id %>.m3u8';
      let playerInstance = jwplayer('video');
      playerInstance.setup({
          file: videoSrc,
          image: poster,
          controls: true
      })
  </script>
  <h5 class="mt-2" id="no-live-stream" hidden>Stream is offline.</h5>
<% else %>
  <h5 class="mt-2" id="no-live-stream">Stream is offline.</h5>
<% end %>
