<div class="container">
  <br/>
  <br/>
  <br/>
  <h1>Church Flow Terms of Service</h1>
  <div>Updated Jan 28, 2021</div>
  <p>
    This is a binding agreement between ChurchFlow, INC. (“ChurchFlow”), a video streaming service provider,
    and you as a person at least sixteen (16) years old and, if applicable, the company or other legal entity you
    represent (collectively, “you”).
  </p>
  <p>
    This agreement incorporates by reference: The privacy policy,
    <br/>
    The acceptable use policy,
    <br/>
    The paywall terms of use,
    <br/>
    PayPal service terms if using PayPal to make payments or collect viewer payments via the paywall, and
    The trademark guidelines, as these policies and terms may be modified on an ongoing basis by ChurchFlow or its affiliates at their sole discretion from time to time.
    By accessing the ChurchFlow platform and/or services, by clicking the “accept” button for this agreement, or by accepting any modification to this agreement in accordance with section 2 below, you agree to be bound by the terms and conditions of this agreement, including clauses on payments, cancellations, and refunds.
  </p>
  <p>
    If you are entering into this agreement on behalf of a company or other legal entity, you confirm that you have the legal
    authority to bind the legal entity to this agreement, in which case “you” shall mean such entity. If you do not have
    such authority, or if you do not agree with the terms and conditions of this agreement, you must select the “decline”
    button and you may not use the services provided by ChurchFlow.
  </p>
  <p>
    This Agreement Includes the following Sections:
    The Services
    <br/>
    Modifications to this Agreement
    <br/>
    Term Termination and Suspension Authorization and License to Use the Services Acceptable Use Policy and Service Terms License to Use ChurchFlow Properties Downtime and Service Suspensions; Security Fees
    <br/>
    Confidentiality
    <br/>
    Intellectual Property
    <br/>
    Representations and Warranties; Disclaimers; Limitations of Liability Indemnification
    <br/>
    U.S. Government License Rights; Import and Export Compliance Notices
    <br/>
    Language
    <br/>
    Miscellaneous Provisions
  </p>
  <h3>1. The Services</h3>
  <p>
    The services covered by this Agreement include both free services that ChurchFlow and its affiliates (referred to
    together herein as “we” or “us”) make available for no fee (the “Free Services”), and services that we make available
    for a fee (the “Paid Services”). The Free Services and the Paid Services are referred to collectively in this Agreement
    as the “Services.” Each Free Service and Paid Service is referred to individually as a “Service.”
  </p>
  <h5>1.1 Free Services</h5>
  <p>
    The Free Services include but are not limited to:
    <br/>
    Trial Accounts
    <br/>
    The Streaming Bandwidth Calculator
    <br/>
    The “Viewer” section of the ChurchFlow Website
    <br/>
    Support for trial accounts or support provided in excess of that described for each of the Paid Services
  </p>
  <h5>1.2. Paid Services</h5>
  <p>
    The Paid Services include any and all web services and related support services that we make available to you for a fee,
    except those web services for which we specifically provide a separate customer agreement. Our Paid Services include,
    but are not limited to:
    <br/>
    All Monthly and Yearly Streaming Services Plans (Monthly Plans and Yearly Plans )
    <br/>
    Streaming Services sold on a prepaid basis (Event Plans, Storage Plans, Transcoding, Overage Protection)
    <br/>
    ChurchFlow dashboard
    <br/>
    ChurchFlow Pay Per View Paywall (the Paywall)
    <br/>
    File storage overages
    <br/>
    ChurchFlow Application Programming Interfaces (APIs).
    <br/>
    The 7-day refund policy applies only if there’s an issue with the system that our support team is unable to solve.
    There will not be any refunds issued if you didn’t face issues using our service, our billing team has the complete
    right to decline the refunds.
    <br/>
    <br/>
    We may, at our sole discretion and without notice:
    <br/>
    (a) begin charging fees for a Free Service, in which case such Service will thereafter be deemed a Paid Service, or
    <br/>
    (b) cease charging fees for a Paid Service, in which case such Service will thereafter be deemed a Free Service.
    <br/>
    <br/>
    Paid Services, such as Custom RTMP Destinations, or scheduler may be made available for functional testing at no charge
    with Trial Accounts. In such cases, ChurchFlow is under no obligation to support the tested services beyond the
    expiration of the Trial Account, nor to make payouts to the user of any monies collected during the Trial Account
    period (see Section 3.5.4).
  </p>
  <h5>1.3. Inclusion of Descriptions of the Services on ChurchFlow Websites</h5>
  <p>
    For the purposes of this agreement, definitions of the services include any and all descriptions published on any
    ChurchFlow Website, whether included specifically herein or not. this explicitly includes pricing, service expiration
    terms, included features and support levels.
    <br/>
    <br/>
    In the event of a conflict between information published on a ChurchFlow Website and that provided in this Agreement,
    the information provided in this Agreement will be considered as accurate and binding.
  </p>
  <h3>2. Modifications to this Agreement</h3>
  <p>
    You agree that we may modify this Agreement, or any policy or other terms referenced in this Agreement and/or in the
    descriptions of the Paid Services as published on any ChurchFlow Website (collectively, “Additional Policies”),
    at any time by posting a revised version of the Agreement or such Additional Policy on any ChurchFlow Website.
    The revised terms shall be effective as follows:
    <br/>
    <br/>
    If the revised terms are for:
    <br/>
    (a) any Paid Services which we are adding at the time of the revision (b) the Privacy Policy
    <br/>
    (c) the Acceptable Use Policy
    <br/>
    (d) any Service Terms
    <br/>
    (e) any other general terms and conditions applicable to our services, websites or other properties, or
    <br/>
    (f) any Free Service,
    <br/>
    then the revised terms shall be effective upon posting (unless we expressly state otherwise at the time of posting).
    <br/>
    If the revised terms are otherwise for any then-existing Paid Services,
    then the revised terms shall be effective upon the earlier to occur of
    <br/>
    (a) fifteen (15) days after posting and
    <br/>
    (b) if we provide a mechanism for your immediate acceptance of the revised terms, such as a click-through confirmation
    or acceptance button, your acceptance.
    <br/>
    By continuing to use or receive the Services after the effective date of any revisions to this Agreement or any
    Additional Policies, you agree to be bound by the revised Agreement or any revised Additional Policies.
    It is your responsibility to check the ChurchFlow Website regularly for changes to this Agreement or the Additional
    Policies, as applicable. We last modified this Agreement on the date set forth at the top of this Agreement.
  </p>
  <h3>3. Term, Termination, and Suspension</h3>
  <h5>3.1. Term</h5>
  <p>
    The term of this Agreement (“Term”) will commence, and you may begin using the Services, once you agree to the terms
    and conditions of this Agreement by completing the registration process for your ChurchFlow Web Services account and
    beginning to use the services, and/or by clicking the “Accept” button below. The Agreement will remain in effect
    until terminated by you or us in accordance with this Section 3.
  </p>
  <h5>3.2. Termination by You for Convenience</h5>
  <p>
    You may terminate this Agreement for any reason or no reason at all, at your convenience, by:
    <br/>
    (a) providing us written notice of termination in accordance with this Section 3.2,
    <br/>
    (b) closing your account for any Service for which we provide an account closing mechanism, or
    <br/>
    (c) through no action other than letting your Free Trial Account expire and never again accessing the account.
  </p>
  <p>
    <strong>3.2.1. Account Closure</strong>
    <br/>
    If such Paid Service requires a minimum service term, or has been prepaid for a defined period, your account will be
    closed immediately unless you specify that the account is to be closed
    <br/>
    (a) at the end of the minimum term of service as described in the service description on the ChurchFlow Website at
    the time of purchase, or
    <br/>
    (b) at the end of the prepaid period.
    <br/>
    If such Paid Service requires an advance notice of termination (cancellation), your account will be closed at the end
    of the advance notice of termination (cancellation) period as described in the service description on the ChurchFlow
    Website at the time of purchase.
    <br/>
    Upon termination, all your stored content and channels will be removed from the ChurchFlow servers and systems.
    <br/>
    Since ChurchFlow provides a free trial period, no refunds will be given for the unused portion already paid for or
    committed to when the Paid Service was purchased unless a general network outage or problem prevents you from using
    your account for a period of at least seventy-two (72) hours.
  </p>
  <p>
    <strong>3.2.2. To Terminate (Cancel) any of the Monthly Plans</strong>
    <br/>
    You must log into your account, click the Chat button and contact us to cancel the account, or send an email from
    the email account used to access your ChurchFlow dashboard to hello@ChurchFlow.io instructing us to cancel the account.
    Upon receiving and processing the notice, the account will be closed per Section 3.2.1. above.
    <br/>
    When terminating a more expensive Monthly Plan to downgrade to a less expensive Monthly Plan, or when changing plan
    types at your request, you agree that no refunds or credits will be provided.
    <br/>
    NOTE: while ChurchFlow may at its sole discretion accept a cancellation notice by another email or by telephone as a
    courtesy in order to avoid a pending charge, you must submit a ticket per this section 3.2.2 to officially terminate
    the account or the account may be considered as closed due to a payment default.
  </p>
  <p>
    <strong>3.2.3. To Terminate (Cancel) any Event Plan Account</strong>
    <br/>
    You may terminate an Event Plan account at any time with no recurring charges.
  </p>
  <h5>3.3. Termination or Suspension by Us Other Than for Cause</h5>
  <p>
    <strong>3.3.1. Free Services</strong>
    <br/>
    We may suspend your right and license to use any or all Free Services and any associated ChurchFlow Properties
    (as defined in Section 6 below), or, if you are only using Free Services, terminate this Agreement in its entirety
    (and, accordingly, cease providing all Services to you), for any reason or for no reason, at our discretion at any
    time, immediately upon notice to you in accordance with the notice provisions set forth in Section 15 below.
  </p>
  <p>
    <strong>3.3.2. Paid Services</strong>
    <br/>
    We may suspend your right and license to use any or all Paid Services (and any associated ChurchFlow Properties),
    or terminate this Agreement in its entirety (and, accordingly, cease providing all Services to you), for any reason
    or for no reason, at our discretion at any time by providing you thirty (30) days advance notice in accordance with
    the notice provisions set forth in Section 15 below.
  </p>
  <h5>3.4. Termination or Suspension by Us for Cause</h5>
  <p>
    We may suspend your right and license to use any individual Service or any set of Services, or terminate this Agreement
    in its entirety (and, accordingly, your right to use all Services), for cause effective as set forth below:
  </p>
  <p>
    <strong>3.4.1. Immediately upon our notice to you in accordance with the notice provisions set forth in Section 15 below if:</strong>
    <br/>
    (a) you attempt a denial of service attack on any of the Services;
    <br/>
    (b) you seek to hack or break any security mechanism on any of the Services or we otherwise determine that your use
    of the Services or the ChurchFlow Properties poses a security or service risk to us, to any user of services offered
    by us, to any third party sellers on any of our
    websites, or to any of our customers or their respective customers, or may subject us or any third party to liability,
    damages or danger;
    <br/>
    (c) you otherwise use the Services in a way that disrupts or threatens the Services;
    <br/>
    (d) you are in default of your payment obligations hereunder;
    <br/>
    (e) there is an unusual spike or increase in your use of the Services;
    <br/>
    (f) we determine, in our sole discretion, there is evidence of fraud with respect to your account;
    <br/>
    (g) you use any of the ChurchFlow Content (as defined in Section 6.1) or Marks (as defined in Section 6.2)
    other than as expressly permitted herein;
    <br/>
    (h) we receive notice or we otherwise determine, in our sole discretion, that you may be using ChurchFlow Services
    for any illegal purpose or in a way that violates the law or violates, infringes, or misappropriates the rights of
    any third party;
    <br/>
    (i) we determine, in our sole discretion, that our provision of any of the Services to you is prohibited by applicable
    law, or has become impractical or unfeasible for any legal or regulatory reason; or
    <br/>
    (j) subject to applicable law, upon your liquidation, commencement of dissolution proceedings, disposal of your assets,
    failure to continue your business, assignment for the benefit of creditors, or if you become the subject of a voluntary
    or involuntary bankruptcy or similar proceeding.
  </p>
  <p>
    <strong>3.4.2.</strong> One (1) business day following our provision of notice to you in accordance with the notice provisions set
    forth in Section 15 below if you are in default of any payment obligation with respect to any of the Services, or if
    any payment mechanism you have provided to us is invalid, cancelled, or charges are refused for such payment mechanism,
    and you fail to cure such payment obligation default or correct such payment mechanism problem within such 1-day period
    and do not have sufficient credit balance to cover the obligation. This specifically includes cancellation by you of a
    credit card or other accepted payment method used in the purchase, such as a PayPal Recurring Payment plan.
  </p>
  <p>
    <strong>3.4.3.</strong> Immediately following our provision of notice to you in accordance with the notice provisions set forth in
    Section 15 below if you use the Paywall services and filed charge-backs or disputes with our merchant accounts exceed
    1% of your total sales over a 3-month period by value or volume.
  </p>
  <p>
    <strong>3.4.4.</strong>  Immediately following our provision of notice to you in accordance with the notice provisions
    set forth in Section 15 below if you are found to have committed any fraud in connection with your use of the Paywall
    or the account.
  </p>
  <p>
    <strong>3.4.5.</strong> Five (5) days following our provision of notice to you in accordance with the notice provisions
    set forth in Section 15 below if you breach any other provision of this Agreement and fail, as determined by us,
    in our sole discretion, to cure such breach within such 5-day period.
  </p>
  <h5>3.5. Effect of Suspension or Termination</h5>
  <p>
    <strong>3.5.1.</strong> Suspension: Upon our suspension of your use of any Services, in whole or in part, for any reason,
    (a) fees will continue to accrue for any Services that are still in use by you (including Support), notwithstanding the
    suspension; (b) you remain liable for all fees, charges and any other obligations you have incurred through the date of
    suspension with respect to the Services; and (c) all of your rights with respect to the applicable Services shall be
    terminated during the period of the suspension.
  </p>
  <p>
    <strong>3.5.2.</strong> Termination: Upon termination of this Agreement for any reason:
    (a) you remain liable for all fees, charges and any other obligations you have incurred through the date of termination
    with respect to the Services;
    <br/>
    (b) all of your rights under this Agreement shall immediately terminate; and
    <br/>
    (c) you shall immediately return or, if instructed by us, destroy all ChurchFlow Confidential Information (as defined
    in Section 9 below) and any ChurchFlow Properties then in your possession.
    <br/>
  </p>
  <p>
    <strong>3.5.3.</strong> In the event of suspension or termination for cause per Section 3.4 above, ChurchFlow will
    apply any monetary balance that may have accrued to your account at the time of suspension or termination towards
    payment of any fees due for services.
  </p>
  <p>
    <strong>3.5.4.</strong> In the event that you have a monetary balance on an expired Free Trial account from your
    tests of the Paywall, or other such Subscription and Pay Per View Paid Services, all sales will be refunded to the
    purchasers.
  </p>
  <p>
    <strong>3.5.5.</strong> In the event your account is terminated due to non-payment and you have not submitted a
    Cancellation Notice as described in Section 3.2.2. herein, any credit balance on your account will revert to ChurchFlow.
  </p>
  <h5>3.6. Survival</h5>
  <p>
    In the event this Agreement is terminated for any reason, Sections 3.5, 3.6, 3.7, 3.8, 4.2, 6, 8 (with respect to
    payments that are accrued but unpaid at the time of termination), and 9 through 16 will survive any such termination.
  </p>
  <h5>3.7. Data Preservation in the Event of Suspension or Termination</h5>
  <p>
    <strong>3.7.1.</strong> In the Event of Suspension Other Than for Cause: In the event of a suspension by us of your
    access to any Service for any reason other than a for cause suspension under Section 3.4.1, during the period of
    suspension,
    <br/>
    (a) we will not take any action to intentionally erase any of your data stored on the Services; and
    <br/>
    (b) applicable Service data storage charges will continue to accrue.
  </p>
  <p>
    <strong>3.7.2.</strong> In the Event of Termination Other Than for Cause: In the event of any termination by us of
    any Paid Service or any set of Paid Services, or termination of this Agreement in its entirety, other than a for cause
    termination under Section 3.4.1,
    <br/>
    (a) we will not take any action to intentionally erase any of your data stored on the Services for a period of thirty
    (30) days after the effective date of termination; and
    <br/>
    (b) your post termination retrieval of data stored on the Services will be conditioned on your payment of Service data
    storage charges for the period following termination, payment in full of any other amounts due us, payment in advance
    for any professional services we perform to assist your retrieval of data, and your compliance with terms and conditions
    we may establish with respect to such data retrieval.
  </p>
  <p>
    <strong>3.7.3.</strong> In the Event of Other Suspension or Termination: Except as provided in Sections 3.7.1 and 3.7.2 above, we shall
    have no obligation to continue to store your data during any period of suspension or termination or to permit you to
    retrieve the same. This expressly includes the situation if all bandwidth has been used or has expired on your “Pay as
    You Go” or “Event Plan” account.
  </p>
  <h5>3.8. Post-Termination Assistance</h5>
  <p>
    Following the suspension or termination of your right to use the Services by us or by you for any reason other than
    a for cause termination (i.e., a termination under Section 3.2 or under Section 3.3), you shall be entitled to take
    advantage of any post-termination assistance we may generally make available with respect to the Services.
  </p>
  <p>
    We may also endeavor to provide you unique post-suspension or post-termination assistance, but we shall be under no
    obligation to do so. Your right to take advantage of any such assistance, whether generally made available with respect
    to the Services or made available uniquely to you, shall be conditioned upon your acceptance of and compliance with any
    fees and terms we specify for such assistance.
  </p>
  <h3>4. Authorization and License to Use the Services</h3>
  <p>
    Subject to your acceptance of and compliance with this Agreement and with the payment requirements for the Services
    that are set forth on the applicable Service detail page on the ChurchFlow Website (as such payment terms may be updated
    from time to time), we hereby grant you a limited, non-exclusive, non-transferable, non-sublicense-able right and license,
    in and under our intellectual property rights, to access and use the Services, solely in accordance with the terms and
    conditions of this Agreement.
  </p>
  <h5>4.1. Permitted Uses Generally</h5>
  <p>
    <strong>4.1.1.</strong> You may write or develop software, websites, or other online services or technology that
    interface with the Services (collectively “Applications”). Applications include machine images containing software
    applications, libraries, data and associated configuration settings (“APIs”). You acknowledge that we may change,
    deprecate or republish APIs (as defined in Section 6.1 below) for any Service or feature of a Service from time to time,
    and that it is your responsibility to ensure that calls you make to any Service are compatible with then-current APIs
    for the Service. You further acknowledge that we may change or remove features or functionality of the Services at any time.
  </p>
  <p>
    <strong>4.1.2.</strong> You may enable access and use of Your Content by your end users in accordance with the terms
    of this Agreement. “Your Content” means any Application, data or other content that you may
    <br/>
    (a) provide to us pursuant to this Agreement,
    <br/>
    (b) make available to any end users in conjunction with the Services, or
    <br/>
    (c) develop, or use in connection with the Services. You are responsible for all terms and conditions applicable to
    Your Content.
  </p>
  <h5>4.2. Restricted Uses Generally</h5>
  <p>
    <strong>4.2.1.</strong> You may not interfere or attempt to interfere in any manner with the functionality or proper
    working of the Services.
  </p>
  <p>
    <strong>4.2.2.</strong> You may not compile or use the ChurchFlow Properties or any other information obtained through
    the Services for the purpose of direct marketing, spamming, unsolicited contacting of sellers or customers, or other
    impermissible advertising, marketing or other activities including, without limitation, any activities that violate
    anti-spamming laws and regulations.
  </p>
  <p>
    <strong>4.2.3.</strong>
    You may not remove, obscure, or alter any notice of any Mark, or other intellectual property or proprietary right
    designation appearing on or contained within the Services or on any ChurchFlow Properties.
  </p>
  <p>
    <strong>4.2.4.</strong> Subject to the terms and conditions of this Agreement, you may generally publicize your use
    of the Services; however, you may not issue any press release with respect to the Services or this Agreement without
    our prior written consent.
  </p>
  <p>
    <strong>4.2.5.</strong> You may not publish content on the “Viewer” section of the ChurchFlow website that we, at our
    sole discretion, deem offensive. This includes depictions of explicit sexual activities and extreme violence depicted
    for entertainment purposes.
  </p>
  <p>
    <strong>4.2.6.</strong> While on a Free Trial Account, you may not request a payout of monies collected using ChurchFlow
    Merchant Accounts provided as part of the Subscription and Paid Services.
  </p>
  <h5>4.3. Accounts and Keys</h5>
  <p>
    Unless otherwise stated in the applicable Service Terms, you may only create one account per email address.
  </p>
  <p>
    ChurchFlow accounts are associated with one or more public key/private key pairs, which are used to access the service.
    You are fully responsible for all activities that occur under your
  </p>
  <p>
    Account Identifiers, regardless of whether such activities are undertaken by you or a third party. Therefore, you
    should contact us immediately if you believe a third party may be using your private key, or if your private key is
    otherwise lost or stolen.
  </p>
  <p>
    You are responsible for maintaining up-to-date and accurate information (including contact information) for your
    ChurchFlow account. We are not responsible for any unauthorized access to, alteration of, or the deletion, destruction,
    damage, loss or failure to store any of Your Content or other data which you submit or use in connection with your
    account or the Services.
  </p>
  <h3>5. Acceptable Use Policy and Service Terms</h3>
  <p>You may only use the Services in accordance with the applicable Service Terms.</p>
  <h3>6. License to Use the ChurchFlow Properties</h3>
  <h5>6.1. ChurchFlow Properties</h5>
  <p>
    We may make available to you, for your installation, copying and/or use in connection with the Services, from time to time,
    a variety of software, data and other content and printed and electronic documentation (all such materials except those
    specifically made available by us under separate license terms, the “ChurchFlow Properties”). Subject to your acceptance
    of this Agreement, ongoing compliance with its terms and conditions with respect to the subject Service, and payment if
    and as required for your right to use the subject Service, we hereby grant to you, without the right to sublicense, a
    limited, non-exclusive, non-transferable license during the Term, under our intellectual property or proprietary rights
    in the ChurchFlow Properties, only to install, copy and use the ChurchFlow Properties solely in connection with and as
    necessary for your use of such Services and solely to the extent in compliance with all the terms and conditions of this
    Agreement. The ChurchFlow Properties may include without limitation:
    <br/>
    Proprietary application programming interfaces (“APIs”); Developer tools for use in connection with the APIs; Articles
    and documentation for use in connection with the use and implementation of the APIs (collectively, “Documentation”);
    Specifications describing the operational and functional capabilities, use limitations, technical and engineering
    requirements, and testing and performance criteria relevant to the proper use of a Service and its related APIs and
    other technology Textual materials made available as part of the Service (“Text Materials”); and Other forms of digital
    content, data, text, images, logos, user interface designs and other creative designs, audio and video (with the Text
    Materials, collectively, “ChurchFlow Content”).
    <br/>
    Sample source code which we may make available from time to time for use in connection with the Services (“Sample Source
    Code”) and libraries which we may make available from time to time for use in connection with the Services (“Libraries”)
    will be made available to you under separate license that accompanies each Sample Source Code or Library and the term
    “ChurchFlow Properties,” as used herein, specifically excludes any Sample Source Code or Libraries made available to you
    under separate license.
    <br/>
    Except as may be expressly authorized under this Agreement:
    <br/>
    (a) You may not, and may not attempt to, modify, alter, tamper with, repair, or otherwise create derivative works of
    any software included in or accessed via the ChurchFlow Properties.
    <br/>
    (b) You may not, and may not attempt to, reverse engineer, disassemble, or decompile the ChurchFlow Properties or
    the Services or apply any other process or procedure to derive the source code of any software included in or accessed
    via the ChurchFlow Properties.
  </p>
  <h5>6.2. Restrictions with Respect to Use of Marks</h5>
  <p>
    Your use of any trademarks, service marks, service or trade names, logos, and other designations of ChurchFlow and its
    affiliates or licensors (“Marks”) shall strictly comply with the Trademark Guidelines and the following provisions.
    You may use the Marks in conjunction with the display of the ChurchFlow Content and for the purpose of indicating that
    your Application was created using the Services.
    <br/>
    You must immediately discontinue use of any Mark as specified by us at any time in writing. We may modify any Marks
    provided to you at any time, and upon notice, you will use only the modified Marks and not the old Marks.
    <br/>
    Other than as specified in this Agreement, you may not use any trademark, service mark, trade name or other business
    identifier of ChurchFlow or its affiliates unless you obtain ChurchFlow’s or its affiliates’ prior written consent.
    In addition, you agree not to misrepresent or embellish the relationship between us and you, for example by implying
    that we support, sponsor, endorse, or contribute money to you or your business endeavors.
  </p>
  <h5>6.3. Nonexclusive Rights</h5>
  <p>
    The rights granted by ChurchFlow in this Agreement with respect to the ChurchFlow Properties, the Marks and the Services are nonexclusive,
    and ChurchFlow reserves the right to:
    <br/>
    (a) itself act as a developer of products or services related to any of the products that you may develop in connection
    with the ChurchFlow Properties or via your use of the Services; and
    <br/>
    (b) appoint third parties as developers or systems integrators who may offer products or services which compete with
    ChurchFlow or your Application.
  </p>
  <h3>7. Downtime and Service Suspensions; Security</h3>
  <h5>7.1. Downtime and Service Suspensions</h5>
  <p>
    In addition to our rights to terminate or suspend Services to you as described in Section 3 above, you acknowledge that:
    <br/>
    (a) your access to and use of the Services may be suspended for the duration of any unanticipated or unscheduled downtime
    or unavailability of any portion or all of the Services for any reason, including as a result of power outages, system
    failures or other interruptions; and
    <br/>
    (b) we shall also be entitled, without any liability to you, to suspend access to any portion or all of the Services
    at any time, on a Service-wide basis:
    <br/>
    (i) for scheduled downtime to permit us to conduct maintenance or make modifications to any Service;
    <br/>
    (ii) in the event of a denial of service attack or other attack on the Service or other event that we determine, in our
    sole discretion, may create a risk to the applicable Service, to you or to any of our other customers if the Service
    were not suspended; or
    <br/>
    (iii) in the event that we determine that any Service is prohibited by law or we otherwise determine that it is
    necessary or prudent to do so for legal or regulatory reasons (collectively, “Service Suspensions”).
    <br/>
    Without limitation to Section 11.5, we shall have no liability whatsoever for any damage, liabilities, losses
    (including any loss of data or profits) or any other consequences that you may incur as a result of any Service Suspension.
    <br/>
    To the extent we are able, we will endeavor to provide you email notice of any Service Suspension in accordance with
    the notice provisions set forth in Section 15 below and to post updates on the ChurchFlow Websites regarding resumption
    of Services following any such suspension, but shall have no liability for the manner in which we may do so or if we fail
    to do so.
  </p>
  <h5>7.2. Security</h5>
  <p>
    We strive to keep Your Content secure, but cannot guarantee that we will be successful at doing so, given the nature
    of the Internet. Accordingly, without limitation to Section 4.3 above and Section 11.5 below, you acknowledge that you
    bear sole responsibility for adequate security, protection and backup of Your Content and Applications.
    <br/>
    We strongly encourage you, where available and appropriate, to
    <br/>
    (a) use encryption technology to protect Your Content from unauthorized access,
    <br/>
    (b) routinely archive Your Content, and
    <br/>
    (c) keep your Applications or any software that you use or run with our Services current with the latest security
    patches or updates.
    <br/>
    We will have no liability to you for any unauthorized access or use, corruption, deletion, destruction or loss of
    any of Your Content or Applications.
  </p>
  <h3>8. Fees</h3>
  <h5>8.1. Service Fees</h5>
  <p>
    In consideration of your use of any of the Paid Services, you agree to pay applicable fees for Paid Services in the
    amounts set forth on the respective Service detail pages on the ChurchFlow Website. You are responsible for any fees
    assessed by ChurchFlow Payments for transactions that you submit to the Payment Service using ChurchFlow including fees
    charged by third parties used in processing payouts to you of account monetary balances.
    <br/>
    Fees for any new Service or new Service feature will be effective upon posting by us on the ChurchFlow Website for
    the applicable Service. We may increase or add new fees for any existing Service or Service feature, or implement a
    fee for any previously Free Service or Free Service feature, by giving you 30 days’ advance notice. Such notice will
    be posted on the ChurchFlow Website on the Service detail page for the affected Service. You agree that you are responsible
    for checking the ChurchFlow Website each month to confirm whether there are any new fees and their effective date(s).
    <br/>
    All fees payable by you are exclusive of applicable taxes and duties, including, without limitation, VAT and applicable
    sales tax. You will provide such information to us as reasonably required determining whether we are obligated to
    collect VAT from you, including without limitation your VAT identification number.
  </p>
  <p>
    <strong>8.2.</strong> Payment
    <br/>
    We may specify the manner in which you will pay any fees, and any such payment shall be subject to our general accounts
    receivable policies from time to time in effect.
    <br/>
    All amounts payable by you under this Agreement will be made without set off or counterclaim and without deduction
    or withholding. If any deduction or withholding is required by applicable law, you shall notify us and shall
    pay such additional amounts to us as necessary to ensure that the net amount that we receive, after such deduction
    and withholding, equals the amount we would have received if no such deduction or withholding had been required.
    Additionally, you shall provide us with documentation that the withholding and deducted amounts have been paid to
    the relevant taxing authority.
  </p>
  <p>
    <strong>8.3.</strong> Special Pricing Programs
    <br/>
    From time to time, we may offer free or discounted pricing for compute capacity, data transfer, data storage, and
    other usage of certain Services (each a “Special Pricing Program”).
    <br/>
    After a Special Pricing Program ends, normal charges will apply. You must comply with any additional terms, restrictions,
    or limitations (e.g., limitations on the total amount of usage) we impose in connection with the Special Pricing Program
    as described on the Service-specific detail pages on the ChurchFlow Website.
    <br/>
    You may not sign-up for multiple ChurchFlow accounts in order to receive additional benefits under a Special Pricing
    Program. We may immediately terminate any account that we determine, in our sole discretion, is established or used
    to avoid the terms, restrictions, or limitations applicable to a Special Pricing Program.
    <br/>
    Any data stored as part of a Special Pricing Program must be actively used.
  </p>
  <h3>9. Confidentiality</h3>
  <h5>9.1. Use and Disclosure</h5>
  <p>
    You shall not disclose ChurchFlow Confidential Information during the Term or at any time during the three (3) year
    period following the end of the Term. As used in this Agreement, “ChurchFlow Confidential Information” means all
    non-public information disclosed by us, our business partners or our or their respective agents or contractors that
    is designated as confidential or that, given the nature of the information or circumstances surrounding its disclosure,
    reasonably should be understood to be confidential.
    <br/>
    ChurchFlow Confidential Information includes, without limitation,
    <br/>
    (a) non-public information relating to our or our business partners’ technology, customers, business plans, promotional
    and marketing activities, finances and other business affairs (including, but not limited to, any information about
    or involving one of our so-called beta tests or a beta test product that you obtain as a result of your participation
    in such beta test),
    <br/>
    (b) third-party information that we are obligated to keep confidential, and
    <br/>
    (c) the nature, content and existence of any discussions or negotiations between you and us.
    <br/>
    Confidential Information does not include any information described in Section 9.2 or any information that you are
    required to disclose by law.
  </p>
  <h5>9.2. Excluded Information</h5>
  <p>
    Notwithstanding any other provision in this Agreement, you shall not have any confidentiality obligation to us under
    Section 9.1 above, with respect to any information provided or made available by us hereunder, and we shall not have
    any confidentiality or non-use obligation to you hereunder with respect to any information, software application,
    data or content provided or made available by you hereunder that:
    <br/>
    (a) is or becomes publicly available without breach of this Agreement;
    <br/>
    (b) can be shown by documentation to have been known to the receiving party at the time of its receipt from the
    disclosing party;
    <br/>
    (c) is received from a third party who did not acquire or disclose the same by a wrongful or tortuous act; or
    <br/>
    (d) can be shown by documentation to have been independently developed by the receiving party.
  </p>
  <h5>9.3. Conflict with Separate Non-Disclosure Agreement</h5>
  <p>
    If you and we are parties to a separate non-disclosure agreement (“Stand-Alone NDA”) and there is a conflict between
    the terms of the Stand-Alone NDA and the terms of this Section 9, the terms of the Stand-Alone NDA shall control.
  </p>
  <h3>10. Intellectual Property</h3>
  <h5>10.1. Our Services and the ChurchFlow Properties</h5>
  <p>
    Other than the limited use and access rights and licenses expressly set forth in this Agreement, we reserve all right,
    title and interest (including all intellectual property and proprietary rights) in and to:
    <br/>
    (a) the Services;
    <br/>
    (b) the ChurchFlow Properties;
    <br/>
    (c) the Marks; and
    <br/>
    (d) any other technology and software that we provide or use to provide the Services and the ChurchFlow Properties.
    <br/>
    You do not, by virtue of this Agreement or otherwise, acquire any ownership interest or rights in the Services,
    the ChurchFlow Properties, the Marks, or other technology and software (including third party technology and software),
    except for the limited use and access rights described in this Agreement.
  </p>
  <h5>10.2. Your Applications, Data and Content</h5>
  <p>
    Other than the rights and interests expressly set forth in this Agreement, and excluding ChurchFlow Properties and
    works derived from ChurchFlow Properties, you reserve all right, title and interest (including all intellectual
    property and proprietary rights) in and to Your Content. We will not disclose Your Content, except:
    <br/>
    (a) if you expressly authorize us to do in connection with your use of the Services; or
    <br/>
    (b) as necessary to provide the Services to you, or to comply with the Agreement or the request of a governmental
    or regulatory body, subpoenas or court orders.
  </p>
  <h5>10.3. Feedback</h5>
  <p>
    In the event you elect, in connection with any of the Services, to communicate to us suggestions for improvements to
    the Services, the ChurchFlow Properties or the Marks (collectively, “Feedback”), we shall own all right, title,
    and interest in and to the same, even if you have designated the Feedback as confidential, and we shall be entitled
    to use the Feedback without restriction. You hereby irrevocably assign all right, title and interest in and to the
    Feedback to us and agree to provide us such assistance as we may require to document, perfect, and maintain our rights
    to the Feedback.
  </p>
  <h5>10.4. Non-Assertion</h5>
  <p>
    During and after the term of the Agreement, with respect to any of the Services that you elect to use, you will not
    assert, nor will you authorize, assist, or encourage any third party to assert, against us or any of our customers,
    end users, vendors business partners (including third party sellers on websites operated by or on behalf of us),
    licensors, sub-licensees or transferees, any patent infringement or other intellectual property infringement claim
    with respect to such Services.
  </p>
  <h3>11. Representations and Warranties; Disclaimers; Limitations of Liability</h3>
  <h5>11.1. Use of the Services</h5>
  <p>
    You represent and warrant that you will not use the Services, ChurchFlow Properties and/or your Application and Your
    Content:
    <br/>
    (a) in a manner that infringes, violates or misappropriates any rights of us or any third party;
    <br/>
    (b) to engage in spamming or other impermissible advertising, marketing or other activities, including, without limitation,
    any activities that violate anti-spamming laws and regulations, including, without limitation, the CAN SPAM Act of 2003;
    <br/>
    (c) in any manner that constitutes or facilitates the illegal export of any controlled or otherwise restricted items,
    including, without limitation, software, algorithms or other data that is subject to export ChurchFlow; and/or
    <br/>
    (d) in a way that is otherwise illegal or promotes illegal activities, including without limitation, in a manner that
    might be libelous or defamatory or otherwise malicious or harmful to any person or entity, or discriminatory based on
    race, sex, religion, nationality, disability, sexual orientation, or age.
  </p>
  <h5>11.2. Applications and Content You represent and warrant:</h5>
  <p>
    (a) that you are solely responsible for the development, operation, and maintenance of Your Content, including without limitation, the accuracy, security, appropriateness and completeness of Your Content and all product-related materials and descriptions;
    <br/>
    (b) that you have the necessary rights and licenses, consents, permissions, waivers and releases to use and display Your Content;
    <br/>
    (c) that Your Content (i) does not violate, misappropriates or infringes any rights of us or any third party, (ii) does not constitutes defamation, invasion of privacy or publicity, or otherwise violates any rights of any third party, or (iii) is not designed for use in any illegal activity or to promote illegal activities, including, without limitation, use in a manner that might be libelous or defamatory or otherwise malicious, illegal or harmful to any person or entity, or discriminatory based on race, sex religion, nationality, disability, sexual orientation, or age;
    <br/>
    (d) that Your Content does not contain any unauthorized data, malware, viruses, Trojan horses, spyware, worms, or other malicious or harmful code (collectively “Harmful Components”); and
    <br/>
    (e) to the extent to which you use any of the Marks, that you will conduct your business in a professional manner and in a way that reflects favourably on the goodwill and reputation of ChurchFlow.
  </p>
  <h5>11.3. Public Software and Feedback</h5>
  <p>
    You represent and warrant that you will not use, and will not authorize any third party to use, any Public Software
    in connection with the Services in any manner that requires, pursuant to the license applicable to such Public Software,
    that any ChurchFlow Properties or Services be:
    <br/>
    (a) disclosed or distributed in source code form,
    <br/>
    (b) made available free of charge to recipients, or
    <br/>
    (c) modifiable without restriction by recipients.
    <br/>
    <br/>
    With respect to any Feedback, you represent and warrant that such Feedback,
    in whole or in part, contributed by or through you,
    <br/>
    (a) contains no third party software or any software that may be considered Public Software and
    <br/>
    (b) does not violate, misappropriate or infringe any intellectual property rights of any third party.
    <br/>
    <br/>
    “Public Software” means any software, documentation or other material that contains, or is derived (in whole or in part)
    from, any software, documentation or other material that is distributed as free software, open source software
    (e.g., Linux) or similar licensing or distribution models, including, but not limited to software, documentation
    or other material licensed or distributed under any of the following licenses or distribution models, or licenses or
    distribution models similar to any of the following:
    <br/>
    (a) GNU’s General Public License (GPL), Lesser/Library GPL (LGPL), or Free Documentation License,
    <br/>
    (b) The Artistic License (e.g., PERL),
    <br/>
    (c) the Mozilla Public License,
    <br/>
    (d) the Netscape Public License,
    <br/>
    (e) the Sun Community Source License (SCSL),
    <br/>
    (f) the Sun Industry Standards License (SISL),
    <br/>
    (g) the BSD License and
    <br/>
    (h) the Apache License.
  </p>
  <h5>11.4. Authorization and Account Information You represent and warrant that:</h5>
  <p>
    (a) the information you provide in connection with your registration for the Services is accurate and complete;
    <br/>
    (b) if you are registering for the Services as an individual, that you are at least 18 years of age and have the legal capacity to enter into this Agreement; and
    <br/>
    (c) if you are registering for the Services as an entity or organization,
    <br/>
    &nbsp;&nbsp;&nbsp;&nbsp;(i) you are duly authorized to do business in the country or countries where you operate,
    <br/>
    &nbsp;&nbsp;&nbsp;&nbsp;(ii) the individual clicking “Accept” on this Agreement and completing the registration for the Services meets the requirements of subsection (b) above and is an authorized representative of your entity, and
    <br/>
    &nbsp;&nbsp;&nbsp;&nbsp;(iii) your employees, officers, representatives and other agents accessing the Services are duly authorized to access the Services and to legally bind you to this Agreement and all transactions conducted under your account.
  </p>
  <h5>11.5. Disclaimers</h5>
  <p>
    ChurchFlow properties, the marks, the services and all technology, software, functions, content, images, materials and other data or information provided by us or our licensors in connection therewith (collectively the “service offerings”) are provided “as is”. We and our licensors make no representations or warranties of any kind, whether express, implied, statutory or otherwise with respect to the service offerings.
    <br/>
    <br/>
    Except to the extent prohibited by applicable law, we and our licensors disclaim all warranties, including, without limitation, any implied warranties of merchantability, satisfactory quality, fitness for a particular purpose, non-infringement, quiet enjoyment, and any warranties arising out of any course of dealing or usage of trade.
    <br/>
    <br/>
    We and our licensors do not warrant that the service offerings will function as described, will be uninterrupted or error free, or free of harmful components, or that the data you store within the service offerings will be secure or not otherwise lost or damaged. we and our licensors shall not be responsible for any service interruptions, including, without limitation, power outages, system failures or other interruptions, including those that affect the receipt, processing, acceptance, completion or settlement of any payment services.
    <br/>
    <br/>
    No advice or information obtained by you from us or from any third party or through the services shall create any warranty not expressly stated in this agreement.
  </p>
  <h5>11.6. Your Applications are Your Responsibility</h5>
  <p>
    In addition to the foregoing, we specifically disclaim all liability, and you shall be solely responsible for the development, operation, and maintenance of your Application (including any Bundled Application) and for all materials that appear on or within your Application and you agree that you shall, without limitation, be solely responsible for:
  </p>
  <p>
    <strong>11.6.1.</strong> The technical operation of your Application and all related equipment;
  </p>
  <p>
    <strong>11.6.2.</strong> The accuracy and appropriateness of any materials posted on or within your Application (including, among other things, any product-related materials);
  </p>
  <p>
    <strong>11.6.3.</strong> Ensuring that any materials posted on your site or within your Application are not illegal and do not promote illegal activities, including without limitation any activities that might be libelous or defamatory or otherwise malicious, illegal or harmful to any person or entity, or discriminatory based on race, sex, religion, nationality, disability, sexual orientation, or age;
  </p>
  <p>
    <strong>11.6.4.</strong> Ensuring that your Application accurately and adequately discloses, either through a privacy policy or otherwise, how you collect, use, store, and disclose data collected from visitors, including, where applicable, that third parties (including advertisers) may serve content and/or advertisements and collect information directly from visitors and may place or recognize cookies on visitors’ browsers;
  </p>
  <p>
    <strong>11.6.5.</strong> Any of your users’ or customers’ claims relating to your Application or any Services utilized in connection with your Application; and
  </p>
  <p>
    <strong>11.6.6.</strong> Your election to utilize APIs, sample code and libraries that may be made available on the ChurchFlow Website, many of which may be provided by third parties and many of which we have not tested or screened in any way.
  </p>
  <h5>11.7. Links.</h5>
  <p>
    The ChurchFlow Website and/or the Services may contain links to websites that are not under our control (“Third Party Sites”). We are not responsible for the contents or functionality of any Third Party Sites or any website that can be accessed via links on any Third Party Site. We provide these links to you as a convenience and the inclusion of any such links does not constitute or imply our endorsement or validation of any Third Party Site.
  </p>
  <h5>11.8. Limitations of liability</h5>
  <p>
    Neither we nor any of our licensors shall be liable to you for any direct, indirect, incidental, special, consequential or exemplary damages, including, but not limited to, damages for loss of profits, goodwill, use, data or other losses (even if we have been advised of the possibility of
    such damages) in connection with this agreement, including, without limitation, any such damages resulting from:
    <br/>
    (a) the use or the inability to use the services;
    <br/>
    (b) the cost of procurement of substitute goods and services; or
    <br/>
    (c) unauthorized access to or alteration of your content.
    <br/>
    In any case, our aggregate liability under this agreement shall be limited to the amount actually paid by you to us hereunder for the services. Some jurisdictions do not allow the exclusion of certain warranties or the limitation or exclusion of liability for incidental or consequential damages. Accordingly, some or all of the above exclusions or limitations may not apply to you, and you may have additional rights.
  </p>
  <h3>12. Indemnification</h3>
  <h5>12.1. General</h5>
  <p>
    You agree to indemnify, defend and hold us, our affiliates and licensors, each of our and their business partners (including third party sellers on websites operated by or on behalf of us) and each of our and their respective employees, officers, directors and representatives, harmless from and against any and all claims, losses, damages, liabilities, judgments, penalties, fines, costs and expenses (including reasonable attorney’s fees), arising out of or in connection with any claim arising out of
    <br/>
    (a) your use of the Services and/or ChurchFlow Properties in a manner not authorized by this Agreement, and/or in violation of the applicable restrictions, Additional Policies, and/or applicable law,
    <br/>
    (b) Your Content, or the combination of either with other applications, content or processes, including but not limited to any claim involving infringement or misappropriation of third-party rights and/or the use, development, design, manufacture, production, advertising, promotion and/or marketing of Your Content,
    <br/>
    (c) your violation of any term or condition of this Agreement or any applicable Additional Policies, including without limitation, your representations and warranties, or
    <br/>
    (d) you or your employees’ or personnel’s negligence or willful misconduct.
  </p>
  <h5>12.2. Notification</h5>
  <p>
    We agree to promptly notify you of any claim subject to indemnification; provided that our failure to promptly notify
    you shall not affect your obligations hereunder except to the extent that our failure to promptly notify you delays
    or prejudices your ability to defend the claim. At our option, you will have the right to defend against any such
    claim with counsel of your own choosing (subject to our written consent) and to settle such claim as you deem appropriate,
    provided that you shall not enter into any settlement without our prior written consent and provided that we may,
    at any time, elect to take over control of the defense and settlement of the claim.
  </p>
  <h3>13. U.S. Government License Rights; Import and Export Compliance</h3>
  <h5>13.1. U.S. Government License Rights</h5>
  <p>
    All Services provided to the U.S. Government are provided under the commercial license rights and restrictions generally
    applicable under this Agreement.
  </p>
  <h5>13.2. Import and Export Compliance and Restrictions</h5>
  <p>
    You shall, in connection with your use of the Services or the ChurchFlow Properties, comply with all applicable import,
    export and re-export control laws and regulations of any country, including the U.S. Export Administration Regulations,
    the U.S. International Traffic in Arms Regulations, Council Regulation (EC) No 428/2009 on the control of exports of
    dual-use items and technology, and country-specific economic sanctions programs or embargoes adopted against countries
    or individuals under any applicable national or international legislation, including any measures implemented by the
    U.S. Office of Foreign Assets Control.
  </p>
  <h3>14. Notices</h3>
  <h5>14.1. To You</h5>
  <p>
    Except as otherwise set forth herein, notices made by us to you under this Agreement that affect our customers generally
    (e.g., notices of updated fees, etc.) will be posted on the ChurchFlow Website.
    <br/>
    <br/>
    Notices made by us under this Agreement for you or your account specifically (e.g., notices of breach and/or suspension)
    will be provided to you via the email address provided to us in your registration for the Services or in any updated
    email address you provide to us in accordance with standard account information update procedures we may provide from
    time to time. It is your responsibility to keep your email address current and you will be deemed to have received any
    email sent to any such email address, upon our sending of the email, whether or not you actually receive the email.
  </p>
  <h5>14.2. To Us</h5>
  <p>
    For notices made by you to us under this Agreement and for questions regarding this Agreement or the Services,
    you may contact ChurchFlow as follows:
    <br/>
    hello@ChurchFlow.io and/or
    <br/>
    ChurchFlow Live Streaming, Inc 777 Hornby St., Suite 600 Vancouver, BC V6Z 1S4 Canada
  </p>
  <h3>15. Language</h3>
  <p>
    All communications and notices to be made or given pursuant to this Agreement shall be in the English language.
  </p>
  <h3>16. Miscellaneous Provisions</h3>
  <h5>16.1. Third Party Activities</h5>
  <p>
    If you authorize, assist, encourage or facilitate another person or entity to take any action related to the subject
    matter of this Agreement, you shall be deemed to have taken the action yourself.
  </p>
  <h5>16.2. Severability</h5>
  <p>
    If any portion of this Agreement is held by a court of competent jurisdiction to be invalid or unenforceable,
    the remaining portions of this Agreement will remain in full force and effect, and any invalid or unenforceable
    portions shall be construed in a manner that most closely reflects the effect and intent of the original language.
    <br/>
    <br/>
    If such construction is not possible, the provision will be severed from this Agreement, and the rest of the Agreement
    shall remain in full force and effect.
  </p>
  <h5>16.3. Waivers</h5>
  <p>
    The failure by us to enforce any provision of this Agreement shall in no way be construed to be a present or future
    waiver of such provision nor in any way affect our right to enforce such provision thereafter. All waivers by us must
    be in writing to be effective.
  </p>
  <h5>16.4. Successors and Assigns</h5>
  <p>
    This Agreement will be binding upon, and inure to the benefit of the parties and their respective successors and assigns.
  </p>
  <h5>16.5. Entire Agreement</h5>
  <p>
    This Agreement incorporates by reference all policies and guidelines posted on the ChurchFlow Website, including all
    Additional Policies, and constitutes the entire agreement between you and us regarding the subject matter hereof and
    supersedes any and all prior or contemporaneous representation, understanding, agreement, or communication between
    you and us, whether written or oral, regarding such subject matter.
  </p>
  <h5>16.6. No Endorsement</h5>
  <p>
    You understand and acknowledge that we are not certifying nor endorsing, and have no obligation to certify or endorse,
    any of your Applications or Your Content.
  </p>
  <h5>16.7. Relationship</h5>
  <p>
    Nothing in this Agreement is intended to or does create any type of joint venture, creditor-debtor, escrow, partnership
    or any employer/employee or fiduciary or franchise relationship between you and us (or any of our affiliates).
  </p>
  <p>
    If you have any inquiries, contact us.
  </p>
  <br/>
  <br/>
  <br/>
</div>