<div class="card">
  <div class="card-header">Billing History</div>
  <div class="card-body p-0">
    <div class="table-responsive table-billing-history">
      <table class="table mb-0">
        <thead>
          <tr>
            <th scope="col">Transaction ID</th>
            <th scope="col">Date</th>
            <th scope="col">Amount</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>#39201</td>
            <td>06/15/2020</td>
            <td>$29.99</td>
            <td><span class="badge badge-light">Pending</span></td>
          </tr>
          <tr>
            <td>#38594</td>
            <td>05/15/2020</td>
            <td>$29.99</td>
            <td><span class="badge badge-teal">Paid</span></td>
          </tr>
          <tr>
            <td>#38223</td>
            <td>04/15/2020</td>
            <td>$29.99</td>
            <td><span class="badge badge-teal">Paid</span></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
