<%= render partial: "shared/header", locals: {title: "Edit Profile", icon: "fa-user-cog"}%>

<div class="container mt-n20">
  <% if current_user.admin? %>
    <%# render partial: '/settings/church_form', locals: { church: current_user.church }  %>
    <%# render partial: '/settings/subdomain_form', locals: { subdomain: current_user.subdomain } %>
  <% end %>
  <%= render 'profile_form' %>
</div>
