<div class="row">
  <div class="col-12">
    <h3>Church Videos</h3>
    <% if @sermons.length > 0 %>
      <% @sermons.each do |sermon| %>
        <%= render 'shared/public/simple_sermon_card', sermon: sermon  %>
      <% end %>
    <% else %>
      <div class="col-12 mb-4">
        <div class="card p-3">
          <p class="card-text">No sermons at this time.</p>
        </div>
      </div>
    <% end %>
  </div>
</div>
