<div class="row">
  <div class="col-12">
    <h3>Media Sermons</h3>
    <% @sermons.in_groups_of(3).each do |group| %>
      <div class="row">
        <% group.each do |sermon| %>
          <% if sermon.present? %>
            <div class="col-4">
              <div class="card">
                <% if sermon.get_video_url.present? %>
                  <%= video_tag(sermon.get_video_url, height: 300, controls: true, class: 'card-img-top video', poster: sermon.get_thumbnail_url) %>
                <% end %>
                <div class="card-body">
                  <h5 class="card-title">Title: <%= sermon.title %></h5>
                  <h5 class="card-title">Speaker: <%= sermon.speaker %></h5>
                  <h5 class="card-title">Scripture: <%= sermon.scripture %></h5>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    <%  end %>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
<script>
    let videos = document.getElementsByClassName('video');
    length = videos.length
    for (let i = 0; i < length; i++) {
        let videoSrc = videos[i].src;
        if (Hls.isSupported() && videoSrc.indexOf('.m3u8') !== -1) {
            const hls = new Hls();
            hls.loadSource(videoSrc);
            hls.attachMedia(video);
        }
        else if (video.canPlayType('application/vnd.apple.mpegurl')) {
            video.src = videoSrc;
        }
    }
</script>