<a href="" class="col-lg-6 mb-4">
  <div class="card text-white">
    <img src="<%= img %>" class="card-img" alt="...">
    <div class="card-img-overlay d-flex flex-column justify-content-end">
      <h5 class="card-title"><%= title %></h5>
      <p class="card-text"><%= desc %></p>
      <p class="card-text">Last updated 3 mins ago</p>
    </div>
  </div>
</a>
