<div class="card" style="border:none;">
  <div class="card-body p-0 pt-3">
    <h5 class="mb-4 pb-2 d-flex align-content-center" style="border-bottom:1px solid #ddd;">Event Schedule
      <%= link_to public_events_path, class: 'h6 ml-2' do %>
        <i class="fas fa-external-link-alt"></i>
      <% end %>
    </h5>
      <% if @events.length > 0 %>
        <% @events.each do |event| %>
          <%= render 'shared/public/event_sidebar_card', event: event %>
        <% end %>
      <% else %>
        <div class="col-12 mb-4">
          <div class="card p-3">
            <p class="card-text">No news at this time.</p>
          </div>
        </div>
      <% end %>
  </div>
</div>
