<a href="" class="col-lg-6 mb-4">
  <div class="card text-white">
    <img src="<%= event.image.url %>" class="card-img" alt="...">
    <div class="card-img-overlay d-flex flex-column justify-content-end">
      <h5 class="card-title"><%= event.name %></h5>
      <p class="card-text"><%= event.description.truncate(75) %></p>
      <p class="card-text">Last updated <%= event.updated_at %> ago</p>
    </div>
  </div>
</a>
