<div class="position-relative overflow-hidden p-3 text-center bg-dark text-light">
  <div class="col-lg-8 p-lg-5 mx-auto my-5">
    <h1 class="display-4 font-weight-normal mb-4">Welcome to <%= @church.name %></h1>
  </div>
</div>
