<div class="card mb-3 text-dark">
  <div class="row no-gutters">
    <div class="d-flex justify-content-center align-items-center col-md-4">
      <div class="card-body">
        <h5 class="mb-3"><span class="badge badge-secondary">Offline</span></h5>
        <h5 class="card-title mb-2">Video title goes here</h5>
        <p class="card-text"><small class="text-muted">Uploaded 3 mins ago</small></p>
      </div>
    </div>
    <div class="col-md-8">
      <img src="http://fpoimg.com/1280x720?text=Video" class="card-img" alt="...">
    </div>
  </div>
</div>
