<div class="col-12 mb-4">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title"><%= news.title %></h5>
      <p class="card-text"><%= news.body%></p>
      <a href="#" class="card-link stretched-link">Read More</a>
    </div>
  </div>
</div>
