<h3 class="mb-4 d-flex align-content-center">Church News
  <%= link_to public_news_path, class: 'h6 ml-2' do %>
    <i class="fas fa-external-link-alt"></i>
  <% end %>
</h3>
<div class="row">
  <% if @church.news.length > 0 %>
    <% @news.each do |news| %>
      <%= render 'shared/public/news_sidebar_card', news: news %>
    <% end %>
  <% else %>
    <div class="col-12 mb-4">
      <div class="card p-3">
        <p class="card-text">No news at this time.</p>
      </div>
    </div>
  <% end %>
</div>
