<div class="col-12">
  <h4 class="mb-4 d-flex align-content-center">
    <%= title %>
    <%= link_to link, class: 'section-heading h6 ml-2' do %>
      <i class="fas fa-external-link-alt"></i>
    <% end %>
  </h4>
</div>
