<div class="col-12 col-lg-4 mb-4">
  <div class="card">
    <img class="card-img-top" src="<%= sermon.thumbnail.url %>" alt="<%= sermon.title %>">
    <div class="card-body">
      <h6 class="card-title mb-1"><%= sermon.title %></h6>
      <small class="text-muted"><%= sermon.speaker %></small>
    </div>
  </div>
</div>
