<div class="col-4">
  <div class="card">
    <img class="card-img-top" src="<%= sermon.thumbnail.url %>" alt="<%= sermon.title %>">
    <div class="card-body">
      <h6 class="card-title mb-1"><%= sermon.title %></h6>
      <small class="text-muted"><%= sermon.speaker %></small>
    </div>
  </div>
  <img  class="img-fluid rounded border border-dark mb-3"/>
  <h6 class="mb-1"></h6>
  <small></small>
</div>
