.header-bg {
  background: $blue url(/assets/img/bg_header.png) no-repeat;
  background-position: 117% -142px;
  background-size: 560px;
  &.pb-20 {
    padding-bottom: 10rem;
  }
}
.mt-n20 {
  margin-top: -10rem;
}
.bg-indigo {
  background: $indigo;
}
.upload-video {
  background: $cyan;
  color: $green;
}
.table-striped tbody tr:nth-of-type(odd) {
  background: $link-water;
}
.table td {
  vertical-align: middle;
}
.custom-file-input-button::-webkit-file-upload-button,
.uppy-FileInput-input::-webkit-file-upload-button {
  display: none;
}
.custom-file-input-button::before,
.uppy-FileInput-input::before {
  content: 'Choose File';
  border: 1px solid transparent;
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  margin-right: 0.5rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  color: #fff;
  border-color: #4878fc;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #4878fc;
  cursor: pointer;
}
.custom-file-input-button:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}
button:focus {
  outline: none;
}
.form-control {
  background-color: $grey;
  border-color: $dark-border;
}
.close {
  right: 15px;
  top: 15px;
  img {
    width: 12px;
  }
}
.btn-primary {
  background: $blue;
}
.blue-text {
  color: $blue;
}
.indigo-text {
  color: $indigo;
}
.bg-zircon {
  background: $zircon;
}
.card.ht {
  border-bottom: solid 10px #fff;
}
.card.card-header-actions {
  & .card-header {
    padding: 1rem 0.9rem;
  }
  & .card-footer {
    padding: 1rem 0.9rem;
  }
  & .actions-dd {
    background: $zircon;
    color: $indigo;
  }
  & .dropdown-item:active {
    background-color: transparent;
  }
}
.dropdown-divider {
  margin: 0.1rem 0;
}
.rounded20 {
  border-radius: 20px;
}
.video-library-list {
  max-height: 70vh;
  overflow-y: auto;
  overflow-x: hidden;
}
.video-library-list-view {
  max-height: 63vh;
  overflow-y: auto;
  overflow-x: hidden;
}
.video-library-grid-view {
  max-height: 73vh;
  overflow-y: auto;
  overflow-x: hidden;
}
.video-placeholder {
  background: #f9f9f9;
  padding-bottom: 56.25%;
  & .up-video {
    position: absolute;
    width: 100%;
    text-align: center;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    & .fa-video {
      font-size: 20px;
    }
  }
}

.save-cards {
  &.card {
    min-height: 210px;
  }
}
.uppy-FileInput-btn {
  background: #4878fc;
  color: #fff;
  border: none;
  font-size: 0.875rem;
  text-transform: capitalize;
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  line-height: 1.5;
  border: 1px solid transparent;
}
.uppy-ProgressBar {
  background: #eeeeee;
}
.tbl-header th {
  width: 20%;
}
.tbl-content td {
  width: 20%;
}
