.sizer {
  padding: 40px 0;
  &--sm {
    padding: 1rem;
  }
  &--md {
    padding: calc(1rem * 1.5) 0;
  }
  &--lg {
    padding: calc(1rem * 2) 0;
  }
  &--xl {
    padding: calc(1rem * 4) 0;
  }
}
