#sidenav {
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  height: 100%;
  border-radius: 0;
  width: 15rem;
  transition: 0.5s;
  & .logo {
    font-size: 22px;
  }
  & .card-body {
    max-height: none !important;
    & .nav-link {
      transition: all 300ms;
      &:hover {
        background: $blue;
        color: $white;
        border-radius: 50px;
      }
      &.active {
        background: $blue;
        color: $white;
      }
    }
  }

  & .nav-link {
    display: inline-block;
    padding: 0.5rem 1.5rem;
    color: $gray-700;
  }
}
#sidenav-outer {
  transition: 0.5s;
}
