<div class="card">
  <h5 class="card-header">Embed Code</h5>
  <div class="card-body">
    <p id="embed-code" class="mb-0">
      <%= "<iframe width='100%' height='315' src='#{request.protocol}#{request.host}/embed/#{embed_code}' frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen></iframe>" %>
    </p>
  </div>
  <div class="card-footer">
    <a href="#">Copy Code</a>
  </div>
</div>
