<div class="container-fluid">
  <h1>Editing Admin Live Stream</h1>
  <%= render 'form', admin_live_stream: @admin_live_stream %>
  <%= link_to 'Show', @admin_live_stream %> |
  <%= link_to 'Back', admin_live_streams_path %>  
</div>
