.event {
  display: -ms-grid;
  display: grid;
  padding: 1.5rem;
  grid-auto-columns: 1fr;
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  grid-template-areas: 'Event-Image Event-Details';
  -ms-grid-columns: 1fr 1.5rem 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.event-title {
  margin-top: 0px;
  margin-bottom: 1rem;
}

.event-date {
  margin-bottom: 0.5rem;
}

.event-location {
  margin-bottom: 1.25rem;
}

@media screen and (max-width: 991px) {
  .event {
    grid-row-gap: 1rem;
    grid-template-areas: 'Event-Image' 'Event-Details';
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto 1rem auto;
    grid-template-rows: auto auto;
  }
  .event-details {
    padding-left: 0.5rem;
  }
  .event-title {
    margin-bottom: 0.5rem;
  }
}

@media screen and (max-width: 479px) {
  .event {
    padding: 1.2rem;
  }
  .event-title {
    margin-bottom: 0.5rem;
  }
  .event-date {
    margin-bottom: 0.125rem;
  }
  .event-location {
    margin-bottom: 1rem;
  }
}

.event-image {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: Event-Image;
}

.event-details {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: Event-Details;
  -ms-grid-row-align: center;
  align-self: center;
}

@media screen and (max-width: 991px) {
  .event-image {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .event-details {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
}
