//  Vendor
$fa-font-path: '@fortawesome/fontawesome-free/webfonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome';
@import '@fortawesome/fontawesome-free/scss/solid';
@import '@fortawesome/fontawesome-free/scss/regular';
@import '@fortawesome/fontawesome-free/scss/brands';
@import '@fortawesome/fontawesome-free/scss/v4-shims';

// Utilities and Helpers
@import 'utilities/all';

// Layout
@import 'layout/dashboard';
@import 'layout/sidenav';

.field_with_errors .message {
  color: #721c24;
}
.navbar {
  z-index: 1030;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}
