/*
// *= require @uppy/core/dist/style
*= require @uppy/file-input/dist/style
*= require @uppy/progress-bar/dist/style
*= require @uppy/status-bar/dist/style
*/

//  Vendor
$fa-font-path: '@fortawesome/fontawesome-free/webfonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome';
@import '@fortawesome/fontawesome-free/scss/solid';
@import '@fortawesome/fontawesome-free/scss/regular';
@import '@fortawesome/fontawesome-free/scss/brands';
@import '@fortawesome/fontawesome-free/scss/v4-shims';

// Utilities and Helpers
@import 'utilities/all';

// Layout
@import 'layout/main';
@import 'layout/dashboard';
@import 'layout/sidenav';
@import 'layout/custom';

.field_with_errors .message {
  color: #721c24;
}
.navbar {
  z-index: 1030;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}
.clipboard-copy-btn {
  cursor: pointer;
}
.alert {
  margin: 0;
  border-radius: 0;
}
