<div class="col-xl-4 mb-4">
  <div class="card card-header-actions">
      <div class="card-header py-3">
        <h4 class="m-0">Live Schedule</h4>
        <%= link_to admin_events_path, class: 'btn btn-outline-blue btn-xs' do %>
         Add Event +
        <% end %>
      </div>
      <div class="card-body">
          ...
      </div>
  </div>
</div>
