<div class="col-xl-4 mb-4">
  <div class="card card-header-actions">
      <div class="card-header">
          Live Schedule
          <%= link_to admin_events_path, class: 'btn btn-outline-blue  btn-icon btn-xs' do %>
            <i class="fas fa-plus"></i>
          <% end %>
      </div>
      <div class="card-body">
          ...
      </div>
  </div>
</div>
