
<% if @admin_live_streams.length > 0 %>
  <div class="col-md-8 mb-4">
    <div class="card card-header-actions">
        <div class="card-header py-3">
          <div class="d-flex align-items-center">
            <h3 class="m-0">Live Video Feed </h3>
          </div>
            <a href="/streams" class="btn btn-light"><i class="fas fa-edit ml-1"></i></a>
        </div>
        <div class="img-card-top">
          <% if @admin_live_streams[0].status == 'active' %>
            <video id="video" width="100%" controls></video>
              <script>
                  poster = "https://image.mux.com/<%= @admin_live_streams[0].playback_id %>/thumbnail.jpg";
                  videoSrc = 'https://stream.mux.com/<%= @admin_live_streams[0].playback_id %>.m3u8';
                  let playerInstance = jwplayer('video');
                  playerInstance.setup({
                      file: videoSrc,
                      image: poster,
                      controls: true
                  })
              </script>
              <div class="bg-dark text-light h-100 w-100">
                <h3 id="no-live-stream" hidden>Stream is offline.</h3>
              </div>
            <% else %>
              <div class="d-flex bg-dark h-100 w-100 justify-content-center align-content-center rounded-bottom" style="padding-top:56.25%">
                <h3 id="no-live-stream" class="text-light">Stream is offline.</h3>
              </div>
            <% end %>
        </div>
    </div>
  </div>
<% else %>
  <%= render partial: "shared/dashboard/live_upsell_banner" %> 
<% end %>
