<div class="col my-4">
  <div class="card">
    <div class="card-body py-5">
      <div class="d-flex flex-column justify-content-center">
          <img class="img-fluid mb-4" src="assets/img/freepik/data-report-pana.svg" alt="" style="height: 10rem;">
          <div class="text-center px-0 px-lg-5">
              <h5>Create Your First Live Stream!</h5>
              <p class="mb-4">Click the button below to add your first live stream and share your church's message with the world online.</p>
              <a class="btn btn-sm btn-primary p-3 line-height-normal" href="/stream/new">Create Livestream</a>
          </div>
      </div>
    </div>
  </div>
</div>
